<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <h1>SpringBoot + Mybatis + MySql 最简单增删改查学习示例</h1>
    <h4>
        <a href="/addUser"><button>添加用户</button></a>
        <a href="/deleteUser"><button>删除用户</button></a>
        <a href="/updateUser"><button>修改用户</button></a>
    </h4>
</div>
<div style="text-align: center;margin:0 auto;width: 650px; ">
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <tr>
            <td><strong>ID</strong></td>
            <td><strong>姓名</strong></td>
            <td><strong>年龄</strong></td>
        </tr>
        <!--/*@thymesVar id="users" type=""*/-->
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
        </tr>
    </table>
</div>
<div style="text-align: left;margin:10px auto;width: 650px; ">
    <h5>1.查询所有数据：http://localhost:8080</h5>
    <h5>2.插入数据：在URL后输入 /insert/{id}/{name}/{age}   例：/insert/1/efang/24</h5>
    <h5>3.查询数据：在URL后输入 /select/{id}   例：/select/1</h5>
    <h5>4.更改数据：在URL后输入 /update/{id}/{name}/{age}   例：/update/1/echang/25</h5>
    <h5>5.删除数据：在URL后输入 /delete/{id}   例：/delete/1</h5>
</div>

</body>
</html>