<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <h1>SpringBoot + Mybatis + MySql 最简单增删改查学习示例</h1>
</div>
<div style="text-align:center; margin:200px;">
    <form method="get" action="/loginButton">
        <h5>账户：<input name="account"></h5>
        <h5>密码：<input name="password"></h5>
        <button type="submit">登录</button>
    </form>
</div>

</body>
</html>