<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <a href="/"><img src="../static/image/spring-boot.png" th:width="350" th:height="160"/></a>
    <h1>SpringBoot + Mybatis + MySql 最简单增删改查学习示例</h1>
</div>
<div style="text-align:center; margin:120px;">
    <h3>账户注册页面</h3>
    <form method="post" action="/registerAdminButton">
        <h5>账户：<input name="accountRegister"></h5>
        <h5>密码：<input name="passwordRegister"></h5>
        <a href="/login"><button type="button">返回登录</button></a>
        <button type="submit">注册</button>
    </form>
</div>

</body>
</html>