<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <h1>SpringBoot + Mybatis + MySql 最简单增删改查学习示例</h1>
    <h4><a href="/"><button>返回首页</button></a></h4>
</div>
<div style="text-align: center;margin:0 auto;width: 650px; ">
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <tr>
            <td width="120px">ID</td>
            <td width="120px">姓名</td>
            <td width="120px">年龄</td>
            <td width="120px">操作</td>
        </tr>
        <form method="get" action="/updateUserButton">
            <tr>
                <td><input name="userId"></td>
                <td><input name="userName"></td>
                <td><input name="userAge"></td>
                <td><button type="submit">修改</button></td>
            </tr>
        </form>
    </table>
</div>

</body>
</html>